# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments (anywhere in repo)
venv/
env/
*/venv/
*/env/

# Django
*.log
db.sqlite3
*/db.sqlite3
media/
*/media/

# Static files
staticfiles/
*/staticfiles/

# Environment variables
.env
*/.env

# VS Code / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Testing / coverage
.coverage
htmlcov/

# Cache
*.cache